server:
  port: 8060

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

management:
  tracing:
    # Disable tracing (Zipkin)
    enabled: false
    # Disable sampling (as you don't need tracing)
    sampling:
      probability: 0.0

spring:
  application:
    name: api-gateway
  config:
    import: "optional:configserver:http://localhost:8088"
  cloud:
    gateway:
      routes:
        - id: application-registry
          uri: lb://application-registry
          predicates:
            - Path=/api/visa-applications/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/auth/**
